body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container,
.signup-container {
  background-color: var(--color-neutral-background-weak);
  border-radius: 10px;
  box-shadow: var(--elevation-xs);
  padding: 40px;
  width: 360px;
  max-width: 100%;
  text-align: center;
}

.form h1 {
  display: flex;
  margin-bottom: 24px;
  font-size: 24px;
  color: #333;
}

.form .logo-container {
}

.form input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
  border-radius: 5px;
}

button {
  background-color: var(--color-primary);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 12px 20px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ff3333;
}

.forgot-password {
  display: block;
  margin: 12px 0;
  color: #555;
  text-decoration: none;
}

.forgot-password:hover {
  text-decoration: underline;
}

p {
  margin-top: 20px;
  font-size: 14px;
  color: #555;
}

p a {
  color: #ff4b2b;
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
